@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Gestion des Articles Application</p>
    <p>
        Développé Par : <a href="https://github.com/Elyex03" target="_blank">Elyex03</a>
    </p>
</div>